<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= usuario.correo %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= usuario.cedula %>
  </p>

  <p>
    <strong>Juego:</strong>
    <%= usuario.juego_id %>
  </p>

</div>
