<div id="<%= dom_id sala %>">
  <p>
    <strong>Respuesta1:</strong>
    <%= sala.respuesta1 %>
  </p>

  <p>
    <strong>Respuesta2:</strong>
    <%= sala.respuesta2 %>
  </p>

  <p>
    <strong>Respuesta3:</strong>
    <%= sala.respuesta3 %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= sala.imagen %>
  </p>

  <p>
    <strong>Tiempo:</strong>
    <%= sala.tiempo %>
  </p>

  <p>
    <strong>Juego:</strong>
    <%= sala.juego_id %>
  </p>

</div>
